<!---header template
header.ejs
Daniel Dobrowney
Student ID: 301339355
Dec 17, 2023--->

<html>
    
<body>

  <!---Site Title-->
    <header>
        <h1>My Portfolio - COMP229</h1>
    </header>

    <!--- Nav Bar-->
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact Me</a>
    </nav>

    </div>

</body>
</html>