<!---home.ejs
Daniel Dobrowney
Student ID: 301339355
Dec 17, 2023--->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  
  <!---Main Body-->
  <body>
    <%- include('partials/header') %>
    <p>Welcome to my <%= title %> page!!</p>
    <div class="container">
        <class="column">
            <p>
              Welome to my Express JS website for COMP229. <br>
              It's nothing fancy, but it works.
            </p>
        </div>
  </body>
</html>
