<!---projects.ejs
Daniel Dobrowney
Student ID: 301339355
Dec 17, 2023--->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  
  <!---Main Body-->
  <body>
    <%- include('partials/header') %>
    <p>Some <%= title %> that I'm working on are:</p>
    <div class="container">
        <class="column">
            <p>
                <h4>Home Assistant</h4>
                
                Home Assisnant is a never ending project to [try] to automate <br>
                my living space for greater convenience. It's a lot of work and <br>
                months can easily go by before having an opportunity to fix or <br>
                maintain parts of the system.
                
                <br><br>

                Thankfully, the system at it's core is pretty robust and few items <br>
                need routine maintainence beyond minor tweaks or power cycles <br>
                to reinitialize them.

                <h4>Augmentative Communication Software</h4>

                This project is in early design phase, but some people with <br>
                Autism Spectrum Disorder (ASD) suffer from an inability to <br>
                verbalize words or sentances. The app I'm referring to is not <br>
                new, but is a digital version of flash cards used by some to <br>
                communicate. I believe that with a modern design I can help <br>
                some or many poeple. But if I help just one person, it was <br>
                worth the effort.

                <h4>Survival Horror Game</h4>

                This is is more of an ideal or passion project, but it would <br>
                require me to learn advanced Blender functions, Unreal Engine 5, <br>
                and C++ as Ureal Engine uses C++. It's on the roadmap.
            </p>
                
        </div>
  </body>
</html>
