<!---services.ejs
Daniel Dobrowney
Student ID: 301339355
Dec 17, 2023--->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  
  <!---Main Body-->
  <body>
    <%- include('partials/header') %>
    <p>Some <%= title %> currently offer to the public:</p>
    <div class="container">
        <class="column">
            <p>
                Sadly, nothing at this time. I'm about 2 years or more from <br>
                this.
                
        </div>
  </body>
</html>
